.footer
  font-family: 'DIN Pro Cond'
  background: #ffffff
  color: #000000
  padding-top: 80px
  padding-bottom: 115px
  &__phone
    font-weight: 900
    text-align: center
    font-size: 65px
    display: block
    text-decoration: none
    color: #000000
    padding-bottom: 8px
  &__desc
    font-size: 30px
    font-weight: 500
    letter-spacing: -0.2px
    text-align: center
    padding-bottom: 31px
  &__payment
    padding-bottom: 51px
    ul
      display: table
      width: 100%
      li
        width: 1%
        list-style: none
        display: table-cell
        text-align: center
        &:nth-child(1)
          text-align: left
        &:nth-last-child(1)
          text-align: right