.header 
  &__logotip
    display: block
    padding-top: 29px
    float: left
  &__slogan
    font-family: 'DIN Pro Cond'
    float: left
    line-height: 24px
    padding-top: 40px
    padding-left: 30px
    font-weight: bold
    font-size: 22px
    color: #000000
    font-style: normal
    em
      font-family: 'DIN Pro Cond'
      font-weight: normal
      font-style: italic
      font-size: 15px
      color: #638b5c
  &__menu
    float: right
    ul
      padding-top: 50px
      display: block
      li
        float: left
        padding-left: 50px
        list-style: none
        &:nth-child(1)
          padding-left: 0
        a
          text-decoration: none
          letter-spacing: 0.1px
          text-transform: uppercase
          font-family: 'DIN Pro Cond'
          font-weight: bold
          font-size: 22px
          color: #000000
          font-style: normal
  &__phone-email
    text-align: right
    padding-top: 15px
    &_url
      font-size: 30px
      color: #000000
      letter-spacing: -0.2px
      font-style: normal
      font-family: 'DIN Pro Cond'
      font-weight: bold
      display: block
      text-decoration: none
      &_url_email
        padding-top: 4px
        color: #417538